/******************************************* Styles for GEO data ******************************************/

.kCircle {
    opacity: 0.75;
    stroke: none;
}

.geodistrict {
    stroke-width: 0.7;
    stroke: white;
    fill: steelblue;
}

.geodistricttext {
    text-anchor: middle;
    font-size: 8pt;
    fill: black;
    opacity: 0.5;
}

.geokmeans {
    fill: none;
    stroke: white;
    stroke-width: 2;
}